@import "tailwindcss";

@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(237, 239, 235); /* global default style */
  overflow-x: hidden;
}
@layer utilities {
  .bg-custom-lime {
    background-color: rgb(128, 225, 66);
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}